# StellarPay Configuration (Optional)
# If left unset, the application will default to the Stellar Horizon Testnet.

# The Horizon server URL to connect to
VITE_STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org

# The Network Passphrase name ('TESTNET' or 'PUBLIC')
VITE_STELLAR_NETWORK=TESTNET
